.dashboard{
    width: 100%;
    display: flex;
}
.dashboard-rightside{
    display: flex;
    flex-direction: column;
}
.dashboard-center{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f2f2f8;
}
.dashboard-main{
    display: flex;
    gap: 100px;
}