.jobs-container {
  display: flex;
}

.job-card-feed{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 9px;
  font-size: 15px;
  margin-bottom: 5px;
  background: #fff;
}

.jobs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin: 30px;
}

.jobs-header h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.jobs-controls {
  display: flex;
  gap: 16px;
  align-items: center;
}

.jobs-sort,
.jobs-category {
  display: flex;
  gap: 8px;
  align-items: center;
}

.jobs-sort label,
.jobs-category label {
  font-size: 14px;
}

.jobs-filters,
.jobs-gridicon {
  background: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(60,70,85,0.06);
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 50px;
}

.job-logo {
  font-size: 36px;
  margin-bottom: 4px;
  display: flex;
}

.job-company {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.job-offer {
  font-size: 15px;
  font-weight: 400;
}

.job-desc {
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
}

.view-more {
  background: #793ef6;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.startup-jobs-btn{
  background-color: #696CFF;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: none;
}
