h5{
    margin: 0;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 160px;
}
.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-image: url("hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    gap: 20px;
    font-size: 18px;
}
.about-header h1{
    font-size: 48px;
}
.about-main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 120px;
}
.about-main p{
    color: #787A82;
    font-size: 17px;
    line-height: 30px;
}
.about-card-top, .about-card-bottom{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-card{
    width: 270px;
}
.about-card-top h5, .about-card-bottom h5{
    font-size: 21px;
    margin: 20px 0;
}
.about-socials{
    display: flex;
    gap: 10px;
    justify-content: center;
}
span{
    color: #696CFF;
    font-size: 17px;
}