@font-face {
    font-family: 'MyFont';
    src: url(../../src/fonts/MyFont.woff) format('woff');
}
.hero-container{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("hero-background.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
}
.signup-btn{
    padding: 16px 24px;
    border-radius: 9px;
    color: white;
    background-color: #696CFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -3%;
    font-family: "Poppins", sans-serif;
    border: 0;
}
.login-btn{
    letter-spacing: -2%;
    line-height: 100%;
    text-decoration: none;
    color: black;
}
.hero-main{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 100px;
}
.title p{
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -2%;
}
.title-paragraph{
    font-weight: 400;
    color: #232323;
    opacity: 70%;
    font-size: 18px;
}
.hero-btns{
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero-image img{
    border-radius: 20px;
}
.sponsor-logos1, .sponsor-logos2{
    display: flex;
    justify-content: space-around;
}
.sponsor-logos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.sponsor-logos-paragraph{
    text-align: center;
    color: #232323;
    font-size: 24px;
}
.article{
    position: relative;
    color: white;
    background: linear-gradient(90deg,rgba(105, 108, 255, 1) 0%, rgba(149, 116, 255, 1) 80%);
    border-radius: 20px;
    padding: 40px;
    margin: 30px;
}
.article-paragraph{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.article-paragraph .article-main-text{
    font-size: 40px ;
}
.article-paragraph .article-title{
    font-size: 18px;
}
.article-card .article-title{
    font-size: 25px;
}
.article-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}
.article-card{
    background: linear-gradient(90deg,rgba(#696CFF) 0%, rgb(#9574FF) 80%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 260px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 32px;
    font-size: 15px;
}
.article-image img{
    position: absolute;
    right: 0;
    top: -320px;
}
.main-page{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.main-page img{
    width: 80%;
    border: 3px solid #696CFF;
    border-radius: 60px;
    padding: 20px 30px;
}
.blue-word{
    color: #696CFF;
}
.title-main{
    font-size: 40px;
    margin-left: 170px;
}